@model Nimap_test.Context.tbl_category
@{
    ViewBag.Title = "Category";
}
<style>
    .error
    {
        color:red;
    }
</style>
@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.HiddenFor(x=> x.CategoryID)
            <label>Category Name</label>
            @Html.ValidationMessageFor(x => x.CategoryName,"" ,new { @class = "error" })
            @Html.TextBoxFor(x => x.CategoryName, new {@class="form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">reset</button>
        </div>
    </div>
}

